/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
#privateKey{
    width: 200px;
    height: 100%;
}
#privateKey h6 {
    color: #e00d0d;
  }
  
  #privateKey h3 {
    color: #0a0606;
  }
#privateKey input{
   
}